/vendor/
.env
/cache/
/logs/

# OS and Editor folders
.DS_Store
Thumbs.db
*.swp
/.idea/
/.vscode/

# Testing and CI
#/phpunit.xml
/test-reports/

# Build artifacts
/build/
/dist/

# Composer
composer.lock

# phpDocumentor
.phpdoc

# Temp files
tmp/

# PHPUnit
.phpunit.result.cache
.phpunit.cache

# PHP-CS-Fixer
.php-cs-fixer.cache

wiki/

canvas-lms-*

IMPLEMENTATION_STRUCTURE_RULES.md